<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301301352334-c590ov5gbmf32d9jffbtchkte7cnimtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301301352334-c590ov5gbmf32d9jffbtchkte7cnimtd</string>
	<key>API_KEY</key>
	<string>AIzaSyCvPh0rhgUbcBejkiYDYU0B5ZkbkWVVwdw</string>
	<key>GCM_SENDER_ID</key>
	<string>301301352334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uicMap</string>
	<key>PROJECT_ID</key>
	<string>uic-campus-map-2e820</string>
	<key>STORAGE_BUCKET</key>
	<string>uic-campus-map-2e820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301301352334:ios:0730c4f6ff66a7d44506df</string>
</dict>
</plist>